header {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 0 8rem;
    }

    .menu-secondaire {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease-out;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        li {
            margin-left: 3.125rem;
        }
        a {
            color: black;
            transition: all 0.3s ease-out;
            position: relative;
            font: var(--font-size-content);
        }
        a::after {
            background-color: var(--color-primary);
            content: '';
            left: 0;
            bottom: 0;
            position: absolute;
            height: 2px;
            width: calc(100%);
            transform: scaleX(0);
            transition: all 0.3s ease-out;
        }
        a:hover::after {
            transform: scaleX(1);
        }
        a:hover {
            color: var(--color-primary);
            bottom: 2px;
        }
        .recherche {
            display: flex;
        }
    }
    .mobile {
        display: none;
    }

    @media screen and(max-width: 1200px) {
        .wrapper {
            padding: 0 1rem;
            margin: auto;
        }
        .menu-secondaire {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
}
