/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;
    --color-gray-light: #ccc;

    // Couleurs du projet
    --color-primary: #f2545b;

    --color-bg-primary: #fff;
    --color-nav: #18191f;
}
